* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #080713;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


/* FONDO */

.fondo-corazones {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at 20% 20%, #ff008c55, transparent 25%),
        radial-gradient(circle at 80% 30%, #ff006655, transparent 25%),
        radial-gradient(circle at 50% 90%, #ff006655, transparent 30%);

    z-index: -2;
}


/* ENCABEZADO */

header {
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 0, 130, 0.25);

    backdrop-filter: blur(5px);
}

header h2 {
    font-size: 25px;
    letter-spacing: 2px;
}


/* CONTENEDOR */

main {
    width: 100%;
    max-width: 1000px;

    margin: 30px auto;

    padding: 20px;
}


/* PANTALLAS */

.pantalla {
    display: none;

    min-height: 480px;

    padding: 50px 25px;

    text-align: center;

    border-radius: 30px;

    background:
        radial-gradient(circle, #ffffff18 1px, transparent 1px),
        #020203;

    background-size: 25px 25px;

    border: 1px solid #ff4d9d;

    box-shadow:
        0 0 25px #ff008855,
        inset 0 0 30px #ff008822;
}

.pantalla.activa {
    display: block;
}


/* TITULOS */

h1 {
    margin-bottom: 45px;

    font-family: Georgia, serif;

    font-size: 42px;

    color: #ffd56a;

    text-shadow:
        0 0 10px #ffbb55,
        0 0 20px #ff5588;
}


/* CONTADOR */

.contador {
    display: flex;

    justify-content: center;

    gap: 15px;

    flex-wrap: wrap;
}

.tiempo {
    width: 120px;
    height: 95px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 12px;

    border: 2px solid #ff4d9d;

    background: #110b13;

    box-shadow:
        0 0 15px #ff4d9d88;
}

.tiempo span {
    font-size: 35px;

    font-family: Georgia, serif;

    font-weight: bold;

    text-shadow:
        0 0 10px white;
}

.tiempo small {
    margin-top: 5px;

    font-size: 10px;

    color: #ffd84d;

    letter-spacing: 2px;
}


/* BOTONES */

.botones {
    margin-top: 40px;

    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;
}

button {
    padding: 14px 28px;

    border-radius: 30px;

    border: 1px solid #ff4d9d;

    background: transparent;

    color: white;

    cursor: pointer;

    font-weight: bold;

    letter-spacing: 1px;

    transition: 0.3s;
}

button:hover {
    background: #ff4d9d;

    box-shadow:
        0 0 20px #ff4d9d;
}


/* SEGUNDO BOTON */

.botones button:last-child {
    background: #ffc72c;

    color: #351000;

    border: none;

    box-shadow:
        0 0 20px #ffb300;
}


/* GALERIA */

.galeria {
    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;

    margin-bottom: 40px;
}

.galeria img {
    width: 220px;
    height: 280px;

    object-fit: cover;

    border-radius: 10px;

    border: 2px solid #ffd34d;

    box-shadow:
        0 0 20px #ffcc4488;

    transition: 0.5s;
}

.galeria img:hover {
    transform: scale(1.05) rotate(2deg);
}


/* CARTA */

.carta-contenido {
    max-width: 650px;

    margin: auto;

    padding: 30px;

    border-radius: 20px;

    background: #ffffff10;

    border: 1px solid #ff4d9d;

    line-height: 1.8;

    font-size: 18px;
}

.carta-contenido p {
    margin-bottom: 20px;
}


/* CELULAR */

@media (max-width: 600px) {

    main {
        padding: 10px;
    }

    .pantalla {
        padding: 35px 15px;
    }

    h1 {
        font-size: 30px;
    }

    .tiempo {
        width: 95px;
        height: 85px;
    }

    .tiempo span {
        font-size: 28px;
    }

    #corazones {
    position: fixed;

    inset: 0;

    pointer-events: none;

    overflow: hidden;

    z-index: -1;
}

.corazon {
    position: absolute;

    bottom: -50px;

    color: #ff3d9d;

    font-size: 25px;

    animation: subir 6s linear forwards;

    text-shadow:
        0 0 10px #ff0088;
}

@keyframes subir {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }

}

/* =========================
   REPRODUCTOR FLOTANTE
   ========================= */

.reproductor {
    position: fixed;

    right: 25px;
    bottom: 25px;

    z-index: 9999;

    display: flex;

    align-items: center;

    gap: 12px;
}


/* BOTÓN */

#botonMusica {

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 12px 18px;

    border: 2px solid #ff4d9d;

    border-radius: 50px;

    background: rgba(15, 5, 15, 0.90);

    backdrop-filter: blur(10px);

    color: white;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 1px;

    cursor: pointer;

    box-shadow:
        0 0 10px #ff4d9d,
        0 0 25px rgba(255, 77, 157, 0.5);

    transition: all 0.3s ease;
}


/* ICONO */

.icono-musica {

    width: 30px;
    height: 30px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #ff4d9d;

    color: white;

    font-size: 12px;

}


/* EFECTO AL PASAR EL MOUSE */

#botonMusica:hover {

    transform: scale(1.08);

    box-shadow:
        0 0 15px #ff4d9d,
        0 0 40px #ff4d9d;
}


/* DISCO */

.disco {

    width: 55px;
    height: 55px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;

    align-items: center;
    justify-content: center;

    background:
        radial-gradient(
            circle,
            #ffd34d 0 7px,
            #333 8px 18px,
            #111 19px 100%
        );

    border: 2px solid #ff4d9d;

    color: #ffd34d;

    font-size: 20px;

    box-shadow:
        0 0 15px #ff4d9d,
        0 0 30px rgba(255, 77, 157, 0.4);
}


/* DISCO GIRANDO */

.disco.girando {

    animation:
        girarDisco 2s linear infinite;

}


@keyframes girarDisco {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}


/* =========================
   VERSIÓN CELULAR
   ========================= */

@media (max-width: 600px) {

    .reproductor {

        right: 15px;

        bottom: 15px;

    }


    #botonMusica {

        padding: 10px 14px;

        font-size: 10px;

    }


    .icono-musica {

        width: 27px;

        height: 27px;

    }


    .disco {

        width: 45px;

        height: 45px;

        font-size: 16px;

    }

}

}

.reproductor {
    position: fixed !important;
    right: 20px !important;
    bottom: 20px !important;
    z-index: 999999 !important;

    display: flex !important;
    align-items: center !important;
    gap: 10px !important;

    visibility: visible !important;
    opacity: 1 !important;
}

#botonMusica {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;

    background: #ff1493 !important;
    color: white !important;

    padding: 15px 25px !important;

    border: 3px solid white !important;
    border-radius: 50px !important;

    font-size: 14px !important;
    font-weight: bold !important;

    cursor: pointer !important;
}

.disco {
    display: flex !important;
    visibility: visible !important;
    opacity: 1 !important;

    width: 55px !important;
    height: 55px !important;

    background: black !important;
    border: 3px solid #ff1493 !important;
    border-radius: 50% !important;

    align-items: center !important;
    justify-content: center !important;

    color: white !important;
    font-size: 25px !important;
}

/* =========================================
   GALERÍA DE RECUERDOS - 20 FOTOS
   ========================================= */

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

.foto {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border: 2px solid rgba(255, 20, 147, 0.5);
    box-shadow: 0 5px 20px rgba(255, 20, 147, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(255, 20, 147, 0.5);
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.foto:hover img {
    transform: scale(1.1);
}


/* =========================================
   VISOR DE FOTO GRANDE
   ========================================= */

.visor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 100000;
}

.visor.activo {
    display: flex;
}


/* FOTO GRANDE */

.foto-grande {
    position: relative;
    max-width: 80%;
    max-height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagenGrande {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;

    border-radius: 15px;
    border: 3px solid #ff1493;

    box-shadow: 0 0 40px rgba(255, 20, 147, 0.6);
}


/* =========================================
   BOTÓN CERRAR
   ========================================= */

.cerrar-visor {
    position: absolute;

    top: 25px;
    right: 35px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: #ff1493;
    color: white;

    font-size: 40px;
    line-height: 45px;

    cursor: pointer;

    z-index: 100001;

    transition: transform 0.3s ease, background 0.3s ease;
}

.cerrar-visor:hover {
    transform: scale(1.1);
    background: #ff69b4;
}


/* =========================================
   FLECHAS ← →
   ========================================= */

.flecha {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 65px;
    height: 65px;

    border: none;
    border-radius: 50%;

    background: rgba(255, 20, 147, 0.85);
    color: white;

    font-size: 55px;
    line-height: 45px;

    cursor: pointer;

    z-index: 100001;

    transition: transform 0.3s ease, background 0.3s ease;
}

.flecha:hover {
    background: #ff1493;
    transform: translateY(-50%) scale(1.1);
}

.flecha.izquierda {
    left: 30px;
}

.flecha.derecha {
    right: 30px;
}


/* =========================================
   NÚMERO DE FOTO
   ========================================= */

.numero-foto {
    position: absolute;

    bottom: 15px;
    left: 50%;

    transform: translateX(-50%);

    background: rgba(0, 0, 0, 0.75);
    color: white;

    padding: 8px 18px;

    border-radius: 20px;

    font-size: 16px;

    z-index: 100002;
}


/* =========================================
   TEXTO DE RECUERDOS
   ========================================= */

.subtitulo-recuerdos {
    text-align: center;
    color: #ddd;
    margin-bottom: 20px;
    font-size: 17px;
}


/* =========================================
   MÓVILES
   ========================================= */

@media (max-width: 900px) {

    .galeria {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

}

@media (max-width: 600px) {

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        width: 92%;
    }

    .cerrar-visor {
        top: 15px;
        right: 15px;

        width: 45px;
        height: 45px;

        font-size: 32px;
    }

    .flecha {
        width: 50px;
        height: 50px;
        font-size: 42px;
    }

    .flecha.izquierda {
        left: 10px;
    }

    .flecha.derecha {
        right: 10px;
    }

    #imagenGrande {
        max-width: 85vw;
        max-height: 75vh;
    }

}